$color-jumbotron: rgba(0,0,0,255);

//FINEST DRINKS
$color-section-medium: #0b1315;                       //Rich Black
$color-section-light: #0f1d20;                        //Rich Black
$color-text-light: #cfc3b3;                           //Dun (Crema)

//COFFEE HOUSE
$color-section-dark: #0e1317;                         //Rich Black
$color-filter-button: rgba(9,13,16,255);                //Night
$color-text-dark: #c29876;                            //Lion (Crema-oro)